@import "colors.css"; 
@import "fonts.css"; 


input[type=text],
input[type=email],
textarea {
    border: 1px solid var(--grey-400);
    border-radius: 4px;
}

body {
    background: var(--grey-900);
}

.estilos-form {
    background: var(--grey-100);
    border-width: 1px;
    border-style: solid none solid solid;
    color: var(--grey-600);
    border-radius: 8px 0px 0px 8px;
}
.estilos-form-img {
    border-width: 1px;
    border-style: solid solid solid none;
    color: var(--grey-600);
    border-radius: 0px 8px 8px 0px;
}
label {
    color: var(--grey-700);
}

input textarea::placeholder {
    color: var(--grey-500);
    font-family: var(--font-lato);
}